.footerContent {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #FFCCB3;
  box-shadow: 5px black;
}

.footerText {
  color: #220033;
  font-size: 18px;
  text-align: center;
}