@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Markazi+Text&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #efefef;
  font-family: 'Makazi Text', sans-serif;
}