.Button {
  display: block;
  background: var(--alt-2-bg-color);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--alt-font-color);
  border-radius: 10px;
  align-self: center;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #2c2c2c;
  padding: 1rem;
}

.Button:active,
.Button:hover {
  background: var(--alt-bg-color);
  color: var(--main-font-color);
}