.Cta {
	background: #990099;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 10px;
	color: #ebebeb !important;
}

.Header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	background-color: transparent;
  z-index: 50;
	font-family: 'Hammersmith One', sans-serif;
}

.Header nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 100%;
}

.Header nav a {
	margin: 1rem 5rem 0 1rem;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: var(--alt-font-color);
}

.Header nav a:hover,
.Header nav a:active {
	color: #990099;
	text-decoration: underline;
}

@media screen and (max-width: 480px) {
	.Header {
		display: none;
		visibility: hidden;
	}
}