  
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	background: transparent;
  z-index: 50;
  font-family: 'Hammersmith One', sans-serif;
}

.header nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 100%;
}

.header nav a {
	margin: 1rem 5rem 0 1rem;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: var(--alt-font-color);
}

.header nav a:hover,
.header nav a:active {
	color: #990099;
	text-decoration: underline;
}

@media screen and (max-width: 480px) {
	.header {
		display: none;
		visibility: hidden;
	}
}