.aboutContent {
  margin: 5rem auto;
  width: 850px;
  background: #FFDDCC;
  border-radius: 24px;
  box-shadow: 2px 2px 2px 2px #220033;
  color: #220033;
  padding: 10rem;
}

.title {
  text-align: center;
}

.blurb {
  font-size: 18px;
  color: #220033;
  text-align: center;
}