.addContent {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  color: black;
  background: #FFDDCC;
  padding: 4rem;
  width: 50%;
  border-radius: 18px;
  box-shadow: 1px 1px 1px 1px black;
}

.addContent h1 {
  text-align: center;
}

.inputGroup {
  font-size: 24px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px 1px black;
  margin: 1rem;
  padding: 0.5rem;
}

.submitButton {
  display: inline-block;
  background: #f8aa82;
  font-size: 18px;
  font-weight: bold;
  color: #2c2c2c;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #2c2c2c;
}
input[type="text"], textarea, select{
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 24px;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
}
