.AddContent {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--alt-font-color);
  margin: 5rem auto;
  padding: 5rem 0 5rem 0;
  max-width: 75%;
  justify-self: center;
  align-self: center;
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1
  }
  100% {
    opacity: 1;
  }
}

.AddContent h1 {
  text-align: center;
}


@media (min-width: 320px) and (max-width: 680px) {
  .AddContent h1 {
    font-size: 0.5rem;
  }
}

