* {
  font-family:'Hammersmith One', sans-serif;
}

.HomeContent { 
  color: var(--alt-font-color);
  align-items: center;
  background: url('../../../images/gem-bg-no-copy.png') center no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem;
  height: 75vh;
}

.TitleContainer {
  margin: 5rem auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  width: 50%;
}

.Title {
  margin: 10rem 0 0 10rem;
  font-size: 42px;
}

@media screen and (max-width: 480px) {
  .HomeContent { 
    margin-top: 10rem;
    position: relative;
  }
  .InfoContainer {
    margin: 0;
    padding: 0;
    width: 280px;
  }

  .InfoBlock {
    flex: 1 0 100%;
  }
}
