.homeContent {
  background: #FFDDCC;
  border-radius: 18px;
  box-shadow: 1px 1px 1px 1px black;
  margin: 5rem;
  padding: 5rem;
}

.title {
  color: #220033;
  font-size: 36px;
  width: 50%;
  text-align: center;
}

.button {
  display: block;
  width: 50%;
  background: black;
  margin: 0 auto;
  font-size: 24px;
  color: #efefef;
  cursor: pointer;
}