* {
  font-family:'Hammersmith One', sans-serif;
  margin: 0;
  padding: 0;
}

.HomeContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--main-bg-color);
  padding: 5rem;
}

.InfoContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 0 0;
}

.Title {
  font-family: 'Markazi', sans-serif;
  color: var(--main-font-color);
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.025em;
}

.InfoBlock {
  flex: 1 0 25%;
  background: var(--alt-2-bg-color);
  margin: 0.5rem;
  padding: 0.6rem;
  text-align: left;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 5px;
}

.button {
  display: block;
  width: 50%;
  background: black;
  margin: 0 auto;
  font-size: 24px;
  color: #efefef;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .HomeContent {
    position: relative;
    margin-top: 10rem;
  }
  .InfoContainer {
    width: 280px;
    margin: 0;
    padding: 0;
  }

  .InfoBlock {
    flex: 1 0 100%;
   
  }
}