* {
  font-family:'Hammersmith One', sans-serif;
}

.HomeContent { 
  color: var(--alt-font-color);
  align-items: center;
  background: url('../../../images/gem-tools-img-opal-4.png') center no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem;
  height: 820px;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
}

.InfoBlock { 
  border-radius: 5px;
  flex: 1 0 25%;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 0 10rem;
}

.Title {
  margin: 0 0 0 10rem;
  font-size: 42px;
}

@media screen and (max-width: 480px) {
  .HomeContent { 
    margin-top: 10rem;
    position: relative;
  }
  .InfoContainer {
    margin: 0;
    padding: 0;
    width: 280px;
  }

  .InfoBlock {
    flex: 1 0 100%;
  }
}
