@media screen and (min-width: 320px) and (max-width: 680px) {
  .MobileNavContainer {
    display: flex;
    flex-direction: column;
    background: var(--alt-bg-color);
    width: 100%;
    max-width: 320px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .MobileLinks {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--main-font-color);
  }

  .MobileLinks:hover,
  .MobileLinks:active {
    background: var(--alt-2-bg-color);
    color: #000;
  }
}

@media screen and (min-width: 760px) {
  .MobileNavContainer {
    display: none;
  }
}