* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #E6EEFF;
}
header {
  margin: 0;
  padding: 0;
}
.navbar {
  background: gray;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.navbar__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  line-height: 24px;
}

.navbar__items li {
  margin: .5rem;
}

.navbar__items>li>a {
  text-decoration: none;
  background: lightgray;
  padding: 1rem;
  color: #2c2c2c;
  border-radius: 24px;
}

.navbar__items>li>a:hover {
  background: gray;
}