.sourceContent {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  color: black;
  background: var(--alt-2-bg-color);
  padding: 4rem;
  border-radius: 18px;
  box-shadow: 1px 1px 1px 1px black;
  width: 100%;
  animation: fadeIn 0.5s ease;
}
.sourceButton {
  width: 500px;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1
  }
  100% {
    opacity: 1;
  }
}
