.InputGroup {
  font-size: 1.5rem;
  flex: 1 1 30%;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  box-shadow: 1px 1px 1px var(--main-bg-color);
  margin: 2.5rem 0 0.25rem 0.75rem;
}

input[type="text"], textarea, select {
  display: block;
  margin: 2rem auto;
  padding: 0.4rem;
  font-size: 24px;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  width: 100%;
}

.Label {
  color: var(--alt-font-color);
}