.InputGroup {
  font-size: 1.5rem;
  flex: 1 1 30%;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  box-shadow: 1px 1px 1px var(--main-bg-color);
  margin: 2.5rem 0 0.25rem 0.75rem;
}

.Label {
  color: var(--main-font-color);
}