.AboutContent {
  margin: 5rem auto;
  max-width: 850px;
  color: #220033;
}

.Paragraph {
  padding: 0;
  font-size: 18px;
}

.Title {
  text-align: center;
}

.Reverse {
  flex-direction: row-reverse;
}

