.aboutContent {
  margin: 5rem auto;
  width: 850px;
  color: #220033;
  padding: 2rem;
}

.title {
  text-align: center;
}

.blurb {
  font-size: 18px;
  color: #220033;
  text-align: left;
  margin: 0;
}